@inherits LayoutComponentBase

<div class="container">
    <div class="lottie">
        <LottiePlayer Source="woman_working.json"></LottiePlayer>
    </div>
    <div class="device">
        <div id="deviceScreen" class="device-screen">
            @Body
        </div>
    </div>
</div>

<ErrorBanner />
