<div class="cat-container">
    <div class="snoring-container">
        <div class="z">z</div>
        <div class="zz">z</div>
    </div>
    <LottiePlayer Source="lottie/cat_sleeping.json" />
</div>

<div class="woman-container">
    <LottiePlayer Source="lottie/woman_working.json" />
</div>
