@if (!IsRunningProgram)
{
    <div class="history">
        <TerminalCommands Commands="Commands" OnComplete="OnCommandsCompleted" />

        @if (IsBuilding)
        {
            <p>Building...</p>
        }
    </div>
}
else
{
    <div style="transform-style: preserve-3d; perspective: 500px; height: 100%; position: relative;">
        <VaporwaveBackground />
        <div style="height: 100%; display: flex; align-items: center; justify-content: center; text-align: center;">
            <GlitchText Value="coming soon" />
        </div>
    </div>
}

@code {

    private string[] Commands { get; set; } = new[]
    {
        "cd source/repos",
        "git clone https://github.com/erinnmclaughlin/PersonalWebsite.git",
        "cd PersonalWebsite",
        "dotnet run"
    };

    private bool IsBuilding { get; set; } = false;
    private bool IsRunningProgram { get; set; } = false;

    private async Task OnCommandsCompleted()
    {
        IsBuilding = true;
        await Task.Delay(2000);

        IsBuilding = false;
        IsRunningProgram = true;
    }
}
