<div class="terminal-window">
    <header>
        <div class="button green"></div>
        <div class="button yellow"></div>
        <div class="button red"></div>
    </header>
    <section class="terminal">
        <div class="history">
            <div>> cd source/repos</div>
            <div>> git clone https://github.com/erinnmclaughlin/PersonalWebsite website</div>
            <div>> cd website/PersonalWebsite</div>
            <div>> dotnet run</div>
            <div>> <span class="typed-cursor">_</span></div>
        </div>
        @*$&nbsp;<span class="prompt"></span>
        <span class="typed-cursor"></span>*@

    @*<div style="height: 100%; padding: 1rem; font-family: Consolas; color: whitesmoke;">
        <p>
            
        </p>
        <p>
            
        </p>
        <!--
                    > git clone https://github.com/erinnmclaughlin/PersonalWebsite website
        Cloning into 'website'...
        remote: Enumerating objects: 82, done.
        remote: Counting objects: 100% (82/82), done.
        remote: Compressing objects: 100% (45/45), done.
        Receiving objects:  81% (67/82)used 70 (delta 21), pack-reused 0
        Receiving objects: 100% (82/82), 54.48 KiB | 2.87 MiB/s, done.
        Resolving deltas: 100% (33/33), done.

        -->
        <p>
            
        </p>
        <p>
            
        </p>
    </div>*@
    </section>
</div>