<div class="terminal-window">
    <header>
        <div class="button green"></div>
        <div class="button yellow"></div>
        <div class="button red"></div>
    </header>
    <section class="terminal">
        <div class="history">
            @for (int i = 0; i <= ExecutedCommandCount - 1; i++)
            {
                <TerminalCommand Command="@Commands[i]" OnAnimationComplete="AnimateNextCommand" />
            }

            @if (!IsAnimating)
            {
                if (ExecutedCommandCount == Commands.Length)
                {
                    <div>Building...</div>
                }
                else
                {
                    <div>> <TerminalCursor /></div>
                }
            }
        </div>
    </section>
</div>

@code {
    private string[] Commands { get; set; } = new[]
    {
        "cd source/repos/website",
        "git clone https://github.com/erinnmclaughlin/PersonalWebsite.git",
        "cd PersonalWebsite",
        "dotnet run"
    };

    private bool IsAnimating { get; set; } = false;
    private int ExecutedCommandCount { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        await AnimateNextCommand();
    }

    private async Task AnimateNextCommand()
    {
        IsAnimating = false;
        StateHasChanged();

        if (ExecutedCommandCount == Commands.Length)
            return;

        await Task.Delay(800);

        IsAnimating = true;
        ExecutedCommandCount++;
    }
}
