<div class="terminal-window">
    <header>
        <div class="button green"></div>
        <div class="button yellow"></div>
        <div class="button red"></div>
    </header>
    <section class="terminal">
        <div class="history">
            @if (IsRunningProgram)
            {
                <div style="flex-grow: 1; display: flex; align-items: center; justify-content: center;">
                    <GlitchText Value="coming soon" />
                </div>
            }
            else
            {
                <TerminalCommands Commands="Commands" OnComplete="OnCommandsCompleted" />

                if (IsBuilding)
                {
                    <div>Building...</div>
                }
            }
        </div>
    </section>
</div>

@code {

    private string[] Commands { get; set; } = new[]
    {
        "cd source/repos/website",
        "git clone https://github.com/erinnmclaughlin/PersonalWebsite.git",
        "cd PersonalWebsite",
        "dotnet run"
    };

    private bool IsBuilding { get; set; } = false;
    private bool IsRunningProgram { get; set; } = false;

    private async Task OnCommandsCompleted()
    {
        IsBuilding = true;
        await Task.Delay(2000);

        IsBuilding = false;
        IsRunningProgram = true;
    }
}
