@attribute [StreamRendering]

<p>
    <span style="line-break: anywhere">> @TypedCommand</span>
</p>

@code {

    [Parameter] public required string Command { get; set; }
    [Parameter] public EventCallback OnAnimationComplete { get; set; }

    private string TypedCommand { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        await Animate();
    }

    public async Task Animate()
    {
        TypedCommand = "";
        var length = 0;

        while (length <= Command.Length)
        {
            TypedCommand = Command.Substring(0, length);
            length++;
            StateHasChanged();
            await Task.Delay(50);
        }

        await Task.Delay(200);
        await OnAnimationComplete.InvokeAsync();
    }
}