#start {
    background: unset;
    color: unset;
    font-family: unset;
    font-size: unset;
    cursor: pointer;
    border: 0;
    height: 100%;
    width: 100%;
    display: flex;
}

    #start:hover {
        color: lime;
    }

#desktop-instructions {
    display: none;
}


@media only screen and (min-width: 600px) {

    #desktop-instructions {
        display: unset;
    }

    #mobile-instructions {
        display: none;
    }
}