div,
div ::deep form {
    cursor: text;
    display: flex;
    flex-direction: column;
    height: 100%;
}

    div ::deep input {
        outline: transparent;
        border: 0;
        background-color: transparent;
        width: 100%;
        resize: none;
        padding: 0;
        color: transparent;
        text-shadow: 0 0 0 white;
    }
