@page "/"
@page "/apps"
@layout Layout.DeviceLayout

<div class="home-screen">
    <div class="status-bar">
        <DeviceClock />
    </div>
    <div class="app-grid">
        <a class="app-icon" href="apps/messages">
            <div class="app-icon-img messages-icon"></div>
            <span class="app-name">Messages</span>
        </a>
        <a class="app-icon" href="apps/photos">
            <div class="app-icon-img photos-icon"></div>
            <span class="app-name">Photos</span>
        </a>
        <div class="app-icon">
            <div class="app-icon-img safari-icon"></div>
            <span class="app-name">Safari</span>
        </div>
        <div class="app-icon">
            <div class="app-icon-img music-icon"></div>
            <span class="app-name">Music</span>
        </div>
    </div>
    <div class="dock">
        <a class="app-icon" href="apps/messages">
            <div class="app-icon-img messages-icon"></div>
        </a>
        <div class="app-icon">
            <div class="app-icon-img phone-icon"></div>
        </div>
        <div class="app-icon">
            <div class="app-icon-img mail-icon"></div>
        </div>
        <div class="app-icon">
            <div class="app-icon-img safari-icon"></div>
        </div>
    </div>
</div>
