@page "/blog/{Path}"

@if (_content.HasValue)
{
    <Card>
        <div class="markdown">
            @_content.Value
        </div>
    </Card>
}

@code {

    private MarkupString? _content;

    [Inject]
    private HttpClient HttpClient { get; set; } = default!;

    [Parameter]
    public required string Path { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var content = await HttpClient.GetStringAsync($"blog/{Path}.md");
        _content = (MarkupString)Markdig.Markdown.ToHtml(content);
    }
}
