@page "/blog"

@if (_files is null)
{
    <p>Loading...</p>
}
else
{
    <div style="background: white; padding: 1rem;">
        @foreach (var file in _files.OrderByDescending(x => x.Key))
        {
            <div style="margin-bottom: 1rem;">
                <h5>
                    <a href="@($"blog/{file.Value}")">@file.Value</a>
                </h5>
                <h5>@file.Key</h5>
            </div>
        }
    </div>
}
