@page "/"

<div class="blog-list">
    @foreach (var blog in BlogEntries.Take(5))
    {
        <Card>
            <div class="card-content">
                <a href="blog/@blog.Key">
                    <div class="square"></div>
                </a>
                <div class="flex-col">
                    <a href="blog/@blog.Key">
                        <h2 class="blog-title">@blog.Value.Title</h2>
                        <p class="blog-meta">Posted on @blog.Value.PublishedOn</p>
                    </a>
                    <div class="mt-auto">
                        <TagList Values="@blog.Value.Tags" />
                    </div>
                </div>
            </div>
        </Card>
    }
</div>
