@page "/"

<PageTitle>Coming Soon!</PageTitle>

<main>
    <header>

        <div>
            <a href="" class="title">erinnmclaughlin.com</a>
            <div>
                <a href="https://github.com/erinnmclaughlin">github</a>
                <span> &middot; </span>
                <a href="https://www.linkedin.com/in/e1mclaughlin/">linked in</a>
            </div>
        </div>

        <div class="cat-container">
            <div class="snoring-container">
                <ZZZ />
            </div>
            <lottie-player src="lottie/cat_sleeping.json" background="transparent" speed="1" loop autoplay></lottie-player>
        </div>

        <div class="woman-container">
            <lottie-player src="lottie/woman_working.json" background="transparent" speed="1" loop autoplay></lottie-player>
        </div>

    </header>

    <Terminal />
</main>