@page "/"

<div class="page-content">
    <Card style="width: 100%"></Card>

    <Card style="flex-grow: 1; min-width: min(500px, 100%);">

        @if (_blogs is null)
        {
            <p>Loading...</p>
        }
        else
        {
            foreach (var blog in _blogs.Take(5))
            {
                <div style="display: flex; gap: 1rem;">
                    <div class="square"></div>
                    <div>
                        <h3><a href="blog/@blog.Value">@blog.Value</a></h3>
                        <p>Posted on @blog.Key</p>
                    </div>
                </div>
            }
        }
    </Card>

    <Card style="flex-grow: 0; width: min(400px, 100%);"></Card>
</div>