@page "/"

<header>

    <div class="links">
        <h1 class="title">erin mclaughlin</h1>
        <div>
            <a href="https://github.com/erinnmclaughlin" target="_blank">github</a>
            <span> &middot; </span>
            <a href="https://www.linkedin.com/in/e1mclaughlin/" target="_blank">linked in</a>
        </div>
    </div>

    <WomanWithCat />

</header>

<div class="page">

    <div class="card" style="width: 100%;">
    </div>

    <div class="card" style="flex-grow: 1; min-width: min(500px, 100%);">
        <div style="display: flex; gap: 1rem;">
            <div class="square"></div>
            <div>
                <h3>A Blog Title</h3>
                <p>A blog description!</p>
            </div>
        </div>
        <div style="display: flex; gap: 1rem;">
            <div class="square"></div>
            <div>
                <h3>A Blog Title</h3>
                <p>A blog description!</p>
            </div>
        </div>
    </div>
    <div class="card" style="flex-grow: 0; width: min(400px, 100%);"></div>
</div>