@page "/"

<PageTitle>Coming Soon!</PageTitle>

<div style="display: flex; position: relative; min-width: 290px; z-index: 10;">

    <div style="max-width: 550px; width: max-content; position: absolute; right: 200px; top: -130px;">
        <div style="position: absolute; top: 250px; right: 70px; height: 100px; width: 100px; color: white; opacity: 0.6;">
            <ZZZ />
        </div>
        <lottie-player src="lottie/cat_sleeping.json" background="transparent" speed="1" loop autoplay></lottie-player>
    </div>

    <div style="max-width: 550px; width: max-content; position: absolute; right: 0; top: -130px; transform: rotateY(180deg);">
        <lottie-player src="lottie/woman_working.json" background="transparent" speed="1" loop autoplay></lottie-player>
    </div>

    
</div>

<Terminal />

@*<div style=" background-color: #30353A; border-radius: 8px; box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); max-width: calc(100% - 2rem);">
    <div style="height: 2rem; background-color: var(--bg-light); width: 100%; border-top-left-radius: 8px; border-top-right-radius: 8px;"></div>
   
</div>
*@