main {
    width: 100%;
    max-width: 1600px;
    margin: auto;
}

header {
    display: flex;
    position: relative;
    min-width: 290px;
    z-index: 10;
    height: 185px;
    padding: 1.5rem 1rem;
    color: white;
    font-family: monospace;
}

    header a {
        color: white;
    }

        header a.title {
            display: block;
            text-decoration: none;
            font-size: 1.75rem;
            font-weight: 700;
            margin-bottom: 0.33rem;
        }

.cat-container {
    width: 550px;
    position: absolute;
    right: 200px;
    top: -130px;
}

    .cat-container .snoring-container {
        position: absolute;
        top: 250px;
        right: 70px;
        height: 100px;
        width: 100px;
        opacity: 0.6;
    }

.woman-container {
    width: 550px;
    position: absolute;
    right: 0;
    top: -130px;
    transform: rotateY(180deg);
}