@page "/"

<PageTitle>Coming Soon!</PageTitle>

<div style="height: 400px; overflow: hidden; margin-top: -125px; margin-right: auto; min-width: 528px;">
    <lottie-player src="custom_lottie.json" background="transparent" speed="1" loop autoplay></lottie-player>
</div>
<div style="height: calc(100vh - 14rem); margin-top: -97px; margin-left: 2rem; margin-right: 2rem; background-color: white; border-radius: 8px; box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); min-width: 500px">
    <div style="height: 2rem; background-color: var(--primary); width: 100%; border-top-left-radius: 8px; border-top-right-radius: 8px;"></div>
</div>
