header .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    z-index: 10; /* in front of lottie */
}

header a {
    color: white;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.square {
    height: 80px;
    width: 80px;
    background-color: purple;
    border-radius: 4px;
}
