header {
    display: flex;
    position: relative;
    min-width: 290px;
    z-index: 10;
    height: 120px;
    color: white;
    font-family: monospace;
}

    header .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1rem;
        z-index: 10; /* in front of lottie */
    }

    header .title {
        display: block;
        text-decoration: none;
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: 0.33rem;
    }

    header a {
        color: white;
    }

.page {
    display: flex;
    gap: 1.5rem;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0 1rem 2.5rem 1rem;
    position: absolute;
    top: 120px;
    width: 100%;
}

.card {
    background-color: white;
    border-radius: 8px;
    min-height: 75px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.square {
    height: 80px;
    width: 80px;
    background-color: purple;
    border-radius: 4px;
}