@using Vereyon.Web

@if (Content is { Length: > 0 })
{
    <p>
        @Sanitize(Content)
    </p>
}

@code {
    private static readonly HtmlSanitizer _htmlSanitizer = HtmlSanitizer.SimpleHtml5Sanitizer();

    [Parameter]
    public string? Content { get; set; }

    private static MarkupString Sanitize(string html)
    {
        return new MarkupString((_htmlSanitizer.Sanitize(Markdig.Markdown.ToHtml(html))));
    }
}
