@rendermode InteractiveServer
@attribute [StreamRendering]

@foreach (var message in Messages)
{
    <div style="margin-bottom: 0.5em">
        <label>@message.Author</label>
        <p>@((MarkupString)Markdig.Markdown.ToHtml(message.Message))</p>
    </div>
}

@if (State is ChatState.Loading)
{
    <p>Loading...</p>
}
else if (State is ChatState.WaitingForAssistant)
{
    <p>Thinking...</p>
}
else if (State is ChatState.WaitingForUser)
{
    <TerminalInput OnUserInputReceived="RenderUserMessage" />
}
