<div class="terminal-window">
    <header>
        <div class="button green"></div>
        <div class="button yellow"></div>
        <div class="button red"></div>
    </header>
    <section class="terminal">
        @ChildContent
    </section>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
