@rendermode InteractiveServer
@attribute [StreamRendering]

<div class="terminal-chat">

    @foreach (var message in Messages)
    {
        <div>
            <label style="@(message.Author == "Erin" ? "color: cyan" : "")">
                @message.Author
            </label>
            <ChatContent Content="@message.Content" />
        </div>
    }

    @if (State is ChatState.Loading)
    {
        <p>Loading...</p>
    }
    else if (State is ChatState.WaitingForAssistant)
    {
        <p>Thinking...</p>
    }
    else if (State is ChatState.WaitingForUser)
    {
        <TerminalInput OnUserInputReceived="RenderUserMessage" />
    }
</div>