<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="@Assets[$"app.css?v={Guid.NewGuid().ToString()}"]" />
    <link rel="stylesheet" href="@Assets[$"Site.styles.css?v={Guid.NewGuid().ToString()}"]" />
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="app.js"></script>
    <script src="@("https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js")" defer></script>
</body>

</html>
