div,
div ::deep form {
    cursor: text;
    display: flex;
    flex-direction: column;
    height: 100%;
}

    div ::deep input {
        outline: transparent;
        border: 0;
        background-color: transparent;
        width: 100%;
        resize: none;
        padding: 0;
        color: transparent;
        text-shadow: 0 0 0 white;
        position: relative;
    }


    div ::deep input::before {
        content: '(Tap to respond)';
        position: absolute;
        height: 100%;
        width: 100%;
        color: red;
    }

.instructions {
    position: absolute;
    opacity: 0.25;
    color: lime;
}

@media only screen and (min-width: 600px) {

    .instructions {
        display: none;
    }
}