@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@implements IDisposable

<StarryBackground IsAnimated="IsHomePage" />

<main>
    <PageHeader />
    <div class="page">
        @Body
    </div>
</main>
