@implements IDisposable
@inherits LayoutComponentBase

<StarryBackground IsAnimated="NavigationManager.IsHomePage()" />

<main>
    <PageHeader />
    <div class="page">
        @Body
    </div>
</main>

@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    public void Dispose()
    {
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;
    }

    private void HandleLocationChanged(object? o, LocationChangedEventArgs e)
    {
        StateHasChanged();
    }
}