<PageTitle>erin mclaughlin</PageTitle>

<header>

    <div class="links">
        <h1 class="title">erin mclaughlin</h1>
        <div>
            <a href="https://github.com/erinnmclaughlin" target="_blank">github</a>
            <span> &middot; </span>
            <a href="https://www.linkedin.com/in/e1mclaughlin/" target="_blank">linked in</a>
        </div>
    </div>

    <WomanWithCat />

</header>

<Terminal>
    @ChildContent
</Terminal>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
