header {
    display: flex;
    position: relative;
    min-width: 290px;
    z-index: 10;
    padding: 1rem;
    color: white;
    font-family: monospace;
}

    header .title {
        display: block;
        text-decoration: none;
        font-size: 1.75rem;
        font-weight: 700;
    }

    header .title,
    header .links {
        margin-bottom: 0.33rem;
    }

    header a {
        color: white;
    }

.page {
    width: 100%;
    flex-grow: 1;
    background: rgba(255, 255, 255, 0.9);
}