.cat-container,
.woman-container {
    width: 400px;
    height: 302.5px;
    margin-top: calc(-0.375 * 302.5px);
    position: absolute;
    right: 0;
}

.cat-container {
    margin-right: 145px;
}

    .cat-container .snoring-container {
        position: absolute;
        height: 100px;
        width: 100px;
        right: 50px;
        bottom: 50px;
        opacity: 0.6;
    }

@media only screen and (min-width: 600px) {
    .cat-container,
    .woman-container {
        width: 550px;
        height: 416px;
        margin-top: calc(-0.375 * 416px);
    }

    .cat-container {
        margin-right: 200px;
    }
}